body{
    margin: 0;
}
nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    align-items: center;
}
nav p{
    font-size: 25px;
    font-weight: bold;
}
nav a{
    margin-right: 2vw;
    margin-left: 2vw;
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: green;
}
.bg_principal{
    background-image: url(/WEBS/Elegant/images/fondo.jpg);
    background-size: cover;
    background-position: center;
    padding: 20vw 5vw;
    text-align: right;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: end;
}
h1{
    padding-right: 4vw;
}
.bg_principal p{
    background-color: rgb(4, 142,240);
    width: fit-content;
    text-align: end;
    padding: 10px 20px;
    font-size: 14px;
}

section{
    display: flex;
    margin-top:30px;
}
section div{
    text-align: center;
}
section div img{
    width: 50px;
}
.azul{
    color: blue;
}
footer{
    padding: 0 4vw 4vw 4vw;
}
 
footer p{
    border-bottom: solid thin grey;
    font-size: 20px;
    font-weight: bold;
}
.section2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5vw;
    

}
.section2 img{
    width: 23vw;
    margin-right: 30px;
     
    
}

